
<div id="conteiner">

<table>
	<tr>
		<td  ng-click="play('green')" style="text-align: center" class="green"  >green</td>
		<td ng-click="play('blue')" style="text-aling: center" class="blue"  >blue</td>
	</tr>
	<tr>
		<td ng-click="play('red')" style="text-aling: center" class="red">red</td>
		<td ng-click="play('yellow')" style="text-aling: center" class="yellow">yellow</td>
	</tr>
	
</table>
	
</div>	
<h1 style="color:red;"> {{titulo}}  </h1>
<h1 styles="color:red;">{{acumuladorC}}</h1>
<h1 styles="color:blue;">{{acumuladorB}}</h1>
<h1 styles="color:green;">{{acumuladorA}}</h1>
<h1 styles="color:yellow;">{{acumuladorD}}</h1>
<p>{{colores}}</p>
<button type="button" class="btn btn-default" ng-click="borra()">button</button>